//----------------------------------------------------------------------------------
//B A S E 
//----------------------------------------------------------------------------------
.page {
  height: 100vh;
  position: relative;
  padding-top: 50px;
}

.absolute {
  position: absolute;
}

.top-layer {
  z-index: 999;
}

.big-y-margin {
  margin-top: 5%;
}

.huge-y-margin {
  margin-top: 100px;
}

.y-margin {
  margin-top: 15px;
}

.yy-margin {
  margin-top: 30px;
}

.y-margin-bot {
  margin-bottom: 15px;
}

.pixel-font{
  font-family: 'Press Start 2P', cursive;
}

.black {
  color: black;
}

.left-mar {
  margin-left: 15px;
}

.right-mar {
  margin-right: 15px;
}

.container-faux {
  margin-left: 15px;
  margin-right: 15px;
}

.center {
  text-align: center;
}
//----------------------------------------------------------------------------------
//H E A D E R
//----------------------------------------------------------------------------------
.navbar {
  background: rgba(54, 25, 25, .1);
  border-color: rgba(54, 25, 25, .1);
}

.navbar-brand {
  padding: 0px 18px 0px 15px;
}

.card {
  margin-top: 75px;
  padding-bottom: 10px;
  @media screen and (min-width: 992px) {
    border-radius: 25px;
    border: 5px solid black;
  }
}

//bit of a hack to make two headers look like theyre together
.no-bot-margin {
  margin-bottom: 0px;
}

.no-top-margin {
  margin-top: 0px;
}

//----------------------------------------------------------------------------------
//S P L A S H  P A G E
//----------------------------------------------------------------------------------
.hero{
  font-family: 'Press Start 2P', cursive;

  .container-fluid{
    padding-top: 7%;
    width: 100%;
  }

  height: 100vh;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  overflow: hidden;

  .img{
    position: absolute;
    height: auto;
    height: 100vh;
    width: 100%;
    display: block;

    //this centers the overflow
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  } 

  .hero-text {
    text-align: center;
    // @media screen and (max-width: 768px) {
    //   top: 60%;
    // }

    h1 {
      font-size: 6rem;
      font-weight: 500;
      @media screen and (max-width: 425px) {
        font-size: 5rem;
      }
    }

    h2{
      font-size: 2.5rem;
      font-weight: 300;
      @media screen and (max-width: 425px) {
        font-size: 2rem;
      }
    }
  }

}

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

  font-size: 24px;
}

.button {
  background-color: transparent; 
  color: #eee4d7; 
  border: 2px solid #eee4d7;
  width: 250px;
}

.button:hover {
  background-color: #eee4d7;
  color: #9a2d19;

  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

  font-size: 24px;
}

.button {
  background-color: transparent; 
  color: #eee4d7; 
  border: 2px solid #eee4d7;
  width: 250px;
}

.button:hover {
  background-color: #eee4d7;
  color: #9a2d19;
}

.btn-outline {
  background-color: transparent;
  color: #eee4d7;
  transition: all .5s;
}

//----------------------------------------------------------------------------------
//P R O J E C T S  P A G E
//----------------------------------------------------------------------------------
.project-highlight-bg {
  background: url("/assets/bgs/night-sky.png") no-repeat center center fixed;
  background-repeat: no-repeat; 
  background-size: cover;

  height: 100vh;

  margin-left: -15px;
  margin-right: -15px;

}

.project-font-color {
  color: white;
}

.project {
  img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
  }
}

.img-padding {
  padding: 20px 20px 20px 20px;
}
//P R O J E C T
.project-bg {
  background: url("/assets/bgs/pixelCity.jpg") no-repeat center center fixed;
  background-repeat: no-repeat; 
  background-size: cover;

  height: 100vh;

  margin-left: -15px;
  margin-right: -15px;

}

.img-in-col {
  width: 100%;
  height: 100%;
}

.project-highlight{
  p{
    font-size: 20px;
  }
}

//----------------------------------------------------------------------------------
//A B O U T  P A G E
//----------------------------------------------------------------------------------
.about-bg {
  background: url("/assets/bgs/pixelWarm.png") no-repeat center center fixed;
  background-repeat: no-repeat; 
  background-size: cover;

  height: 100vh;

  margin-left: -15px;
  margin-right: -15px;

  p {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.about-font-color {
  color: white;
}

.text-bg {
  background: rgba(54, 25, 25, .6);
}

//----------------------------------------------------------------------------------
//A B O U T  P A G E
//----------------------------------------------------------------------------------
.contact-bg {
  background: url("/assets/bgs/darkPixel.png") no-repeat center center fixed;
  background-repeat: no-repeat; 
  background-size: cover;

  height: 100vh;

  margin-left: -15px;
  margin-right: -15px;

  span{
    font-size: 20px;
  }
}

.contact-font-color {
  color: white;
}

.contact-card {
  text-align: center;
  margin-top: 155px;
  padding-bottom: 20px;
  @media screen and (min-width: 992px) {
    border-radius: 25px;
    border: 5px solid white;
    margin-left: 200px;
    margin-right: 200px;
  }
}