<div class="container-fluid font-color">
	<div class="hero">
		<div class="container-fluid absolute top-layer hero-text">
			<div class="row">
				<div class="col-lg-2 col-md-1"></div>
				<div class="card col-lg-8 col-md-10">
					<div class="col-md-4">
						<img src="assets\pixelHenry.png" style="height: 290px">
					</div>
					<div class="col-md-8">
						<h1 class="no-bot-margin">Henry</h1>
						<h1 class="no-top-margin">Bulmer</h1>
						<h2>Front End Developer</h2>
						<h2>||</h2>
						<h2>Software Engineer</h2>
					</div>
				</div>
			</div>
		</div>
		<img class="img" src="assets\pixelSky.png">
	</div>

	<div class="page project-bg project-font-color">
		<div class="container-fluid">
			<h1 class="pixel-font">My Projects</h1>
			<h3 class="pixel-font">Let's start with what's most important</h3>
		</div>
	</div>
</div>