.page {
  height: 100vh;
  position: relative;
  padding-top: 50px; }

.absolute {
  position: absolute; }

.top-layer {
  z-index: 999; }

.big-y-margin {
  margin-top: 5%; }

.huge-y-margin {
  margin-top: 100px; }

.y-margin {
  margin-top: 15px; }

.yy-margin {
  margin-top: 30px; }

.y-margin-bot {
  margin-bottom: 15px; }

.pixel-font {
  font-family: 'Press Start 2P', cursive; }

.black {
  color: black; }

.left-mar {
  margin-left: 15px; }

.right-mar {
  margin-right: 15px; }

.container-faux {
  margin-left: 15px;
  margin-right: 15px; }

.navbar {
  background: rgba(54, 25, 25, 0.1);
  border-color: rgba(54, 25, 25, 0.1); }

.navbar-brand {
  padding: 0px 18px 0px 15px; }

.card {
  margin-top: 75px;
  padding-bottom: 10px; }
  @media screen and (min-width: 992px) {
    .card {
      border-radius: 25px;
      border: 5px solid black; } }

.no-bot-margin {
  margin-bottom: 0px; }

.no-top-margin {
  margin-top: 0px; }

.hero {
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  overflow: hidden; }
  .hero .container-fluid {
    padding-top: 7%;
    width: 100%; }
  .hero .img {
    position: absolute;
    height: auto;
    height: 100vh;
    width: 100%;
    display: block;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .hero .hero-text {
    text-align: center; }
    .hero .hero-text h1 {
      font-size: 6rem;
      font-weight: 500; }
      @media screen and (max-width: 425px) {
        .hero .hero-text h1 {
          font-size: 5rem; } }
    .hero .hero-text h2 {
      font-size: 2.5rem;
      font-weight: 300; }
      @media screen and (max-width: 425px) {
        .hero .hero-text h2 {
          font-size: 2rem; } }

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 24px; }

.button {
  background-color: transparent;
  color: #eee4d7;
  border: 2px solid #eee4d7;
  width: 250px; }

.button:hover {
  background-color: #eee4d7;
  color: #9a2d19;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 24px; }

.button {
  background-color: transparent;
  color: #eee4d7;
  border: 2px solid #eee4d7;
  width: 250px; }

.button:hover {
  background-color: #eee4d7;
  color: #9a2d19; }

.btn-outline {
  background-color: transparent;
  color: #eee4d7;
  transition: all .5s; }

.project-bg {
  background: url("/assets/pixelCity.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-left: -15px;
  margin-right: -15px; }

.project-font-color {
  color: white; }

.project img {
  width: 100%;
  height: 100%;
  border-radius: 20%; }

.img-padding {
  padding: 20px 20px 20px 20px; }

.about-bg {
  background: url("/assets/pixelWarm.png") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-left: -15px;
  margin-right: -15px; }
  .about-bg p {
    font-size: 20px; }

.about-font-color {
  color: white; }

.text-bg {
  background: rgba(54, 25, 25, 0.6); }

.contact-bg {
  background: url("/assets/darkPixel.png") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-left: -15px;
  margin-right: -15px; }
  .contact-bg span {
    font-size: 20px; }

.contact-font-color {
  color: white; }

.contact-card {
  text-align: center;
  margin-top: 155px;
  padding-bottom: 20px; }
  @media screen and (min-width: 992px) {
    .contact-card {
      border-radius: 25px;
      border: 5px solid white;
      margin-left: 200px;
      margin-right: 200px; } }
